{% extends 'maqueta.html' %}
{% load staticfiles %}
{% block contenido %}
<link rel="stylesheet" href="{% static 'css/estilos_registro.css' %}">
<div class="panel">
    <div class="titulo">
        Registro Usuario
    </div>
    <div class="formulario">
        <form method="post" action="" >
            <div class="contenedor-inputs">   
                {% csrf_token %}
                {{ form.as_p }} 
                <input type="submit" class="btn-enviar" value="Agregar Persona">
            </div>
        </form> 
    </div>
</div>   
{% endblock %}