{% extends 'maqueta.html' %}
{% load staticfiles %}
{% block contenido %}
<link rel="stylesheet" href="{% static 'css/estilos_registro.css' %}">
<div class="panel">
    <div class="titulo">
        
    </div>
    <div class="formulario">
        <div class="contenedor-inputs">
            <h1>Contraseña cambiada</h1>
            <p>Tu constraseña a sido cambiada, ahora puedes intentar entrar en <a href="{% url 'login' %}"> la pagina de login</a>.</p>
        </div>
    </div>
</div> 
{% endblock %}
