{% extends 'maqueta.html' %}
{% load staticfiles %}
{% block contenido %}
<link rel="stylesheet" href="{% static 'css/estilos_registro.css' %}">
<div class="panel">
    <div class="titulo">
        
    </div>
    <div class="formulario">
        <form method="post" action="" >
            <div class="contenedor-inputs">
                <div class="enunciado">
                <h2>¿Olvidaste tu contraseña?</h2>
                <br>
                <p>Ingresa tu email,te enviaremos un mensaje con los pasos que debes seguir para poder reiniciar la contraseña.</p>
                <br>
                </div>
                {% csrf_token %}
                {% if form.non.field.errors %}
                    <div class="grupo_formax">
                        {{ form.non.field.errors }}
                    </div>
                {% endif %}
                {% for field in form.visible_fields %}
                    <div class="grupo_forma">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    <div class="textoayuda">
                        {{ field.help_text|safe }}
                    </div>
                {% endfor %}
                <input type="submit" class="btn-enviar" value="Restablecer Contraseña">
            </div>
        </form> 
    </div>
</div>   
{% endblock %}